# IRIS Multi Model Dimension

## Import connection and utils

In [34]:
import iris
from grongier.pex._utils import iris_list_deserializer,iris_list_serializer

## Drop/Create the table

In [35]:
drop_table = """
DROP TABLE IF EXISTS Sample.Users
""" 

rs = iris.sql.exec(drop_table)
for r in rs:
    print(r)

In [36]:
create_table = """
CREATE TABLE Sample.Users (

         Company                                  VARCHAR(50),
         DOB                                      DATE,
         Name                                     VARCHAR(4096),
         Phone                                    VARCHAR(4096),
         Title                                    VARCHAR(50)
)
WITH %CLASSPARAMETER DEFAULTGLOBAL = '^GL.Users',
        %CLASSPARAMETER USEEXTENTSET = 0
"""
iris.sql.exec(create_table)

## Insert a row

In [37]:
insert = """
INSERT INTO Sample.Users VALUES (
            'ABC',  
            DATE('2018-01-01'),
            'John Smith',
            '555-555-5555',
            'Manager'
)
"""

iris.sql.exec(insert)

# Query this row

In [38]:
select_sql = """
SELECT ID,* FROM Sample.Users
"""

rs = iris.sql.exec(select_sql)

for r in rs:
    print(r)

['1', 'ABC', 64649, 'John Smith', '555-555-5555', 'Manager']

## Check this same row but in NoSQL

In [45]:
#select_no_sql data
g = iris.gref("^GL.UsersD")

# print the object
print(g)

# get the frist element of the global and deserialize it
my_python_list = iris_list_deserializer(g[1])
print(my_python_list)

# modify the list
my_python_list[0] = 'TOTO'

# print the list
print(my_python_list)

# serialize the list
g[1] = iris_list_serializer(my_python_list)

<isc.gref object at 0x7f947c09b4f0>
['TOTO', 64649, 'John Smith', '555-555-5555', 'Manager']
['TOTO', 64649, 'John Smith', '555-555-5555', 'Manager']

## Query it again

In [47]:
select_sql = """
SELECT * FROM Sample.Users
"""

rs = iris.sql.exec(select_sql)

for r in rs:
    print(r)

['TOTO', 64649, 'John Smith', '555-555-5555', 'Manager']